body {
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #dc424c;
}

.navbar-nav {
	color: white;
}

.carousel-inner img {
	max-height: 422px;
	display: block;
	margin: auto;
	object-fit: contain;
}

.btn {
	display: table;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
}
	

}
#about p {
	text-align: left;
}

#contact p{
	text-align: left; 
}